{% block content %}
<p>Логистика — управление материальными, информационными и людскими потоками с
   целью их оптимизации.
   Более широкое определение логистики трактует её как учение о планировании,
   управлении и контроле движения материальных, информационных и финансовых
   ресурсов в различных системах.
   С точки зрения практического применения логистика — выбор наиболее эффективного
   варианта обеспечения товаром нужного качества, нужного количества, в нужное время,
   в нужном месте с минимальными затратами.
   С позиции менеджмента организации логистику можно рассматривать как стратегическое
   управление материальными потоками в процессе снабжения: закупки, перевозки, продажи
   и хранения материалов, деталей и готового инвентаря (техники и прочего). Понятие включает
   в себя также управление соответствующими потоками информации, а также финансовыми потоками.
   Логистика направлена на оптимизацию издержек и рационализацию процесса производства, сбыта
   и сопутствующего сервиса как в рамках одного предприятия, так и для группы предприятий.</p>
{% endblock %}